@import "./utils/flex";

.home {
  padding-top: 75px;
}

// Main image
.main-image-container {
  position: relative;
}
.titles {
  margin-left: 10%;
  position: absolute;
  top: calc(50% - 90px);
  h1,
  p {
    color: var(--dark-letter);
    margin: 0;
  }
  h1 {
    height: 40px;
  }
  p {
    font-size: 1.2rem;
  }
  p:nth-child(1) {
    @include flex-center(flex-start, center);
  }
  section {
    margin: 1rem 0;
  }
  span {
    animation: greeting 3s ease-in-out infinite;
  }
  @keyframes greeting {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

// Introduction
.introduction {
  position: relative;
  display: grid;
  grid-template-columns: 330px 330px;
  gap: 4rem;
  width: 100%;
  justify-content: center;
  margin: 1.5rem auto;
  & > p:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 1.5px);
    border: 1.5px solid var(--dark-letter);
    height: 200px;
  }
  p {
    line-height: 20px;
    color: var(--light-letter);
  }
  span {
    color: var(--dark-letter);
    font-weight: bold;
  }
}
// Featured Projects
.featured-projects {
  @include flex-center(center, center);
  flex-direction: column;
  h1 {
    color: var(--dark-letter);
  }
  section {
    @include flex-center(center, center);
    & div {
      margin: 1.5rem 1.2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  // Main image
  .titles {
    margin: 0;
    position: relative;
    @include flex-center(center, center);
    flex-direction: column;
    text-align: center;
    p:nth-child(1) {
      @include flex-center(center, center);
    }
  }

  // Introduction
  .introduction {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0 2rem;
    & > p:after {
      display: none;
    }
    p:nth-child(1) {
      margin: 0 !important;
    }
  }

  // Featured Projects
  .featured-projects {
    section {
      flex-direction: column;
    }
  }
}
