.scroll-to-top, .scroll-to-top-disappear {
  position: fixed;
  bottom: 50px;
  right: 20px;
  outline: none;
  background: none;
  border: none;
  animation: appear 0.3s ease;
  z-index: 100000;
}
.scroll-to-top-disappear {
  opacity: 0;
  transform: scale(0);
  animation: disappear 0.3s ease;
}
.arrow-icon {
  width: 40px;
  height: 40px;
  background: var(--background);
  border-radius: 50%;
  color: var(--dark-letter);
}
@keyframes appear {
  0% { opacity: 0; transform: scale(0);}
  100% { opacity: 1; transform: scale(1);}
}
@keyframes disappear {
  0% { opacity: 1; transform: scale(1);}
  100% { opacity: 0; transform: scale(0);}
}