.resume {
  padding: 10px 20px;
  padding-top: 150px;
  min-height: 100vh;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.resume .section-name {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.resume .experience .job-date {
  text-align: end;
}
.resume .section-name {
  text-align: center;
}
.resume .section-name span {
  color: #fff;
  background: #000;
  padding: 5px 10px;
  border-radius: 10px;
}
.resume .is-two-thirds {
  box-shadow: 0 15px 40px rgba(85, 108, 214, 0.25);
  border-radius: 10px;
}
.resume .columns:not(:first-child) {
  margin-top: 70px;
}
.resume .experience .job-name {
  margin-bottom: 0 !important;
}
.resume .experience .job-title {
  padding-bottom: 0 !important;
}
.resume .experience .job-date {
  padding-bottom: 0 !important;
}
@media (max-width: 770px) {
  .resume .experience .job-date {
    text-align: start;
  }
  .resume .section-name {
    text-align: center;
  }
}

/* Skills */
.resume .skills .skill-name {
  margin-bottom: 0 !important;
}
