@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin hamburger-framework {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  span {
    margin: 3px 0;
    display: block;
    height: 3.5px;
    width: 38px;
    opacity: 1;
    background: var(--additional);
    transition: all 0.5s ease;
  }
}

@mixin nav-items-mobile {
  @include flex-center;
  width: 100vw;
  position: absolute;
  top: 75px;
  right: 0;
  height: 20px;
  list-style: none;
  padding: 0;
  @content;
  li {
    font-weight: bold;
    margin: 0 0.2rem;
    color: var(--additional);
    background: var(--dark-letter);
    padding: 5px;
    border-radius: 0.5rem;
    transition: all 0.4s ease;
    &:hover {
      background: var(--dark-background);
      color: var(--light-letter);
    }
  }
}
