.projects {
  padding-top: 130px;
  min-height: 100vh;
  position: relative;
}

.projects .project-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
}
.projects .project-grid .project {
  max-width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms;
  box-shadow: 0 15px 40px rgba(85, 108, 214, 0.25);
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
}
.projects .project-grid .project .project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.projects .project-grid .project .project-image img {
  border-radius: 5px;
}
.projects .project-grid .project .overlay-project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 100ms;
  border-radius: 5px;
}
.projects .project-grid .project .overlay-project-image {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
.projects .project-grid .project:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  /* transform: translateY(-3px) scale(1.1); */
}
.projects .project-grid .project:hover .overlay-project-image {
  visibility: visible;
}
