@import "./utils/flex";
.card {
  @include flex-center(center, center);
  flex-direction: column;
  max-width: 300px;
  max-height: 400px;
  border: 4px solid var(--dark-letter);
  border-radius: 0.5rem;
  padding: 2rem 0.5rem 0rem 0.5rem;
  color: var(--dark-letter);
  position: relative;
  transition-property: transform color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  box-shadow: 1px 1px 10px 1px var(--dark-letter);
  animation: appear 1s ease;
  h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  p {
    font-size: 0.9rem;
  }

  section {
    @include flex-center(center, center);
    flex-direction: column;
    z-index: 20;
    div {
      width: 250px;
      height: 170px;
      border-radius: 0.5rem;
      border: 4px solid var(--dark-letter);
      transition: border 150ms ease-in-out;
      animation: appear 1s ease;
    }
  }
  p {
    margin-top: 0;
    padding: 0 1.3rem;
  }
  span {
    background: var(--dark-letter);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    clip-path: ellipse(0 0 at 0% 0%);
    transition: clip-path 0.5s ease-in;
  }

  &:focus span,
  &:hover span {
    transition: clip-path 0.5s ease-out;
    clip-path: ellipse(800px 800px at 0% 0%);
  }
  &:focus section div,
  &:hover section div {
    border: 4px solid var(--dark-background);
  }
  &:focus,
  &:hover {
    color: var(--dark-background);
  }
  &:active {
    transform: scale(0.95);
    transition-duration: 10ms;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
