@import "./utils/flex";

.contact {
  padding-top: 75px;
}
.main-image-container {
  position: relative;
}
.page-title {
  position: absolute;
  top: calc(50% - 38px);
  left: 10%;
  color: var(--dark-letter);
}
.email {
  @include flex-center(center, center);
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0 0.8rem 0;
  color: var(--dark-letter);
  cursor: pointer;
  position: relative;
  transition: opacity 0.5s ease;
  div {
    @include flex-center(center, center);
    position: relative;
    h1 {
      margin: 0 1rem;
    }
  }
  span {
    position: absolute;
    top: -20px;
    background: var(--light-letter);
    color: var(--dark-background);
    padding: 5px 10px;
    border-radius: 0.5rem;
    animation: appear 3s ease;
  }
  button {
    transform: scale(0.8) translateY(-5px);
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    10% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
    }
  }
}
.email-icon {
  font-size: 40px;
}

.social {
  @include flex-center(center, center);
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    @include flex-center(center, center);
    position: relative;
    height: 50px;
    width: 50px;
    border: 3.5px solid var(--dark-letter);
    border-radius: 0.5rem;
    margin: 0.8rem;
    background: var(--dark-background);
    transition: transform 0.2s ease;
    a {
      @include flex-center(center, center);
      position: relative;
      width: 100%;
      height: 100%;
      background: var(--dark-background);
      z-index: 100;
    }
    div {
      position: absolute;
      height: 50px;
      width: 50px;
      border: 3.5px solid var(--dark-letter);
      border-radius: 0.5rem;
      bottom: -10px;
      right: -10px;
      z-index: 10;
      transition: box-shadow 0.2s ease;
    }
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
    &:hover > div,
    &:focus > div {
      box-shadow: 1px 1px 10px 1px var(--dark-letter);
    }
    &:active {
      transform: scale(0.95);
      transition-duration: 100ms;
    }
  }
}
.social-icon {
  height: 30px;
  width: 30px;
  color: var(--dark-letter);
}
@media screen and (max-width: 500px) {
  .email {
    div h1 {
      font-size: 1rem;
    }
  }
  .email-icon {
    font-size: 1.5rem;
  }
  .social {
    li {
      height: 40px;
      width: 40px;
      div {
        height: 40px;
        width: 40px;
      }
    }
  }
  .social-icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 800px) {
  .page-title {
    display: none;
  }
}
