@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --dark-background: #071a2f;
  --dark-letter: #dba11c;
  --light-letter: #dff1ff;
  --background: #36455d;
  --additional: #0b00e1;
  --raleway-font: "Raleway", sans-serif;
  --baloo-font: "Baloo 2", cursive;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

// Container
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
