@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-seriff !important;
}

html,
body,
.App {
  height: 100%;
  width: 100%;
  background: var(--background);
}

a {
  text-decoration: none !important;
}
li {
  list-style: none !important;
}

:root {
  --black: #121212;
  --dark: #2d3748;
  --white: #ffffff;
  --gray: #4e5b6a;
  --blue-white: #f0f6ff;
  --light-gray: gray;
  --red: #fb757591;
  --purple: #c590ef;
  --background: rgba(228, 228, 228, 0.9);
  --header: #728ab7;
  --blue: #83dbd6;
  --text: #808b9f;
  --font-zero: 12px;
  --font-zero-one: 16px;
  --font-one: 20px;
  --font-two: 30px;
  --font-three: 40px;
}

/* Cat Loading  */
.loading-cat {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Landing Page */
.landing-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.landing-page nav {
  visibility: hidden;
}
.landing-page header {
  visibility: visible;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 60px;
  background: rgba(228, 228, 228, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 10px rgba(174, 174, 192, 0.4), -10px -10px 30px #ffffff;
}
.landing-page header a {
  color: var(--header) !important;
  font-size: var(--font-one);
  font-weight: bold;
  margin: 0 10px;
}
.landing-page header a:hover {
  color: #95a9ce !important;
}
@media (max-width: 500px) {
  .landing-page header {
    visibility: hidden;
  }

  .landing-page nav {
    visibility: visible;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 0;
  }
  .landing-page nav .hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 45px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 0.5em;
    background: var(--background);
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);
  }
  .landing-page nav .hamburger-btn .hamburger {
    position: relative;
    width: 35px;
    height: 3px;
    background: var(--text);
    box-shadow: 0 2px 2px #0004;
    border-radius: 1px;
    transition: all 500ms ease-out;
  }
  .landing-page nav .hamburger-btn .hamburger::before,
  .landing-page nav .hamburger-btn .hamburger::after {
    content: "";
    position: absolute;
    width: 35px !important;
    height: 3px !important;
    background: var(--text);
    box-shadow: 0 2px 2px #0004;
    border-radius: 1px;
    transition: all 500ms ease-out;
  }
  .landing-page nav .hamburger-btn .hamburger::before {
    transform: translateY(-10px);
  }
  .landing-page nav .hamburger-btn .hamburger::after {
    transform: translateY(10px);
  }
  .landing-page nav .hamburger-btn.open .hamburger {
    background: transparent;
    box-shadow: none;
  }
  .landing-page nav .hamburger-btn.open .hamburger::before {
    transform: rotate(45deg);
  }
  .landing-page nav .hamburger-btn.open .hamburger::after {
    transform: rotate(-45deg);
  }
  .landing-page nav .nav-bar {
    padding: 10px;
    padding-top: 30px;
    width: 40vw;
    height: 100vh;
    visibility: visible;
    transition: all 500ms ease-out;
    transform: translateX(-500px);
    display: flex;
    flex-direction: column;
    background: rgb(236, 236, 236);
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);
    z-index: 1000;
  }
  .landing-page nav .nav-bar.open {
    visibility: visible;
    transform: translateX(0);
  }
  .landing-page nav a {
    color: var(--header) !important;
    font-size: var(--font-one);
    font-weight: bold;
    margin: 5px 10px;
    cursor: pointer;
  }
  .landing-page nav .nav-bar .icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .landing-page nav .nav-bar .icon .icon-close {
    height: 25px;
    width: 25px;
    cursor: pointer;
    color: var(--light-gray) !important;
  }
  .landing-page nav .blur-background {
    height: 100vh;
    position: absolute;
    right: -1000px;
    width: 60vw;
    background: var(--background);
    visibility: hidden;
    transition: all 500ms ease-out;
  }
  .landing-page nav .blur-background.open {
    visibility: visible;
    right: 0;
  }
}

.landing-page .brief-introduction {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-page .brief-introduction .title-name .title {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--header);
}
.landing-page .brief-introduction .title-name .name {
  font-size: var(--font-three);
  color: var(--text);
  margin: 10px 0;
  font-weight: bold;
  padding-right: 200px;
}
.landing-page .brief-introduction .title-name .name span {
  font-family: "Balsamiq Sans", cursive !important;
}
.landing-page .brief-introduction .title-name small {
  color: var(--text);
  font-weight: 300;
}
.landing-page .brief-introduction .title-name image {
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  display: block;
  margin: 40px 0;
  filter: saturate(0.5) !important;
  -webkit-filter: saturate(0.5);
}
.landing-page .brief-introduction .title-name .email-container {
  width: fit-content;
}
.landing-page .brief-introduction .title-name .email {
  color: var(--text);
  transition: all 0.2s ease-in-out;
}
.landing-page .brief-introduction .title-name .email-line {
  position: absolute;
  width: 0;
  visibility: hidden;
  border: 1px solid var(--dark);
  transition: all 0.5s ease-in-out;
}
.landing-page
  .brief-introduction
  .title-name
  .email-container:hover
  > .email-line {
  width: 161.3px;
  visibility: visible;
}
.landing-page .brief-introduction .social .social-icon {
  width: 40px;
  height: 40px;
  margin: 10px 0;
  color: var(--gray);
  padding: 5px;
  border-radius: 0.5em;
  box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #ffffff;
}

.landing-page .welcome {
  margin-top: 100px;
  color: var(--text);
}

/*Body*/
.body-container {
  /* background: #282d3f; */
  /* background-image: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364); */
  background: rgba(228, 228, 228, 0.9);
  padding: 50px 0;
}

/*Me*/
.body-container .me {
  background: var(--background);
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  padding: 30px;
  margin: 50px 0;
  transition: all 500ms;
}
.body-container .me:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-1px) scale(1.02);
}
.body-container .me p {
  font-size: var(--font-zero-one);
  color: var(--text);
}
.body-container .me .hi {
  font-family: "Balsamiq Sans", cursive !important;
  font-weight: bold;
  text-align: center;
  font-size: var(--font-two);
  color: var(--header);
}

/*Skill*/
.body-container .skills-container {
  background: var(--background);
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;

  padding: 30px;
  margin: 50px 0;
  color: var(--text);
}
.body-container .skills-container .hi {
  font-family: "Balsamiq Sans", cursive !important;
  font-weight: bold;
  text-align: center;
  font-size: var(--font-two);
  color: var(--header);
}
.body-container .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.body-container .skills .skill-item {
  box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
    inset -9px -9px 16px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 280px;
  margin: 10px;
  transition: all 1000ms ease-out;
  border-radius: 0.5em;
}
.body-container .skills .skill-item a {
  color: var(--gray);
}
.body-container .skills-container .skill-item:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-1px) scale(1.02);
}
.body-container .skills .skill-item .skill-icon {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}
.body-container .skills .skill-item img {
  height: 100px;
  width: 100px;
  filter: saturate(0.3);
  -webkit-filter: saturate(0.3);
}
.body-container .skills-container .skill-item:hover img {
  filter: saturate(1);
  -webkit-filter: saturate(1);
}
.body-container .skills .skill-item .skill-name {
  font-size: var(--font-zero-one);
  margin-bottom: 5px;
}
.body-container .skills .skill-item .description {
  font-size: var(--font-zero);
  margin-bottom: 15px;
  text-transform: italic;
  width: 180px;
  text-align: center;
}
.body-container .skills .skill-item small {
  font-size: 8px;
}

/*Education*/
.body-container .education {
  background: var(--background);
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  padding: 30px;
  margin: 50px 0;
  color: var(--text);
}
.body-container .education .hi {
  font-family: "Balsamiq Sans", cursive !important;
  font-weight: bold;
  text-align: center;
  font-size: var(--font-two);
  color: var(--header);
}
.body-container .education .education-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-container .education .education-list .education-item {
  border-radius: 0.5em;
  width: auto;
  height: auto;
  margin: 20px 20px;
  padding: 20px;

  box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
    inset -9px -9px 16px rgba(255, 255, 255, 0.5);
  transition: all 500ms;
}
.body-container .education .education-list .education-item:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-1px) scale(1.02);
}
.body-container .education .education-list .education-item .name {
  font-size: 1.2rem;
  font-weight: bold;
}
.body-container .education .education-list .education-item .period {
  font-size: var(--font-zero-one);
  font-style: italic;
}
.body-container .education .education-list .education-item .location {
  font-size: var(--font-zero-one);
}
.body-container .education .education-list .education-item ul {
  font-size: var(--font-zero-one);
}
.body-container .education .education-list .education-item li {
  list-style: square !important;
  transform: translateX(10px);
}

/*Projects*/
.body-container .projects {
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  padding: 30px 0;
  margin: 50px 0;

  border-radius: 8px;
  color: var(--text);
}
.body-container .projects .hi {
  font-family: "Balsamiq Sans", cursive !important;
  font-weight: bold;
  text-align: center;
  font-size: var(--font-two);
  color: var(--header);
}
.body-container .projects .project-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.body-container .projects .project-list .project {
  padding: 20px 30px;
}

.body-container .projects .project-list .project img {
  border: 1px solid rgba(185, 185, 185, 0.384);
  height: 200px;
  width: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  transition: all 500ms;
  filter: saturate(0.3);
  -webkit-filter: saturate(0.3);
}
.body-container .projects .project-list .project:hover img {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-1px) scale(1.05);
  filter: saturate(1);
  -webkit-filter: saturate(1);
}
.body-container .projects .project-list .project .project-name {
  color: var(--gray);
  font-weight: bold;
  font-size: var(--font-zero-one);
}
.body-container .projects .project-list .project .project-technologies {
  color: var(--light-gray);
  font-weight: 400;
  font-size: var(--font-zero);
}

/*Smooth Scrolling*/
header > a {
  cursor: pointer;
}
header > a:hover {
  color: var(--light-gray) !important;
}

@media (max-height: 600px) {
  :root {
    --font-zero: 12px;
    --font-zero-one: 14px;
    --font-one: 16px;
    --font-two: 30px;
    --font-three: 22px;
  }
  /*Landing Page*/
  .landing-page .brief-introduction {
    margin-top: 50px;
  }
  .landing-page .brief-introduction .title-name .name {
    margin: 1px 0;
  }
  .landing-page .welcome {
    margin: 50px 0;
  }
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

small {
  font-weight: bold;
}

.heart-icon {
  color: rgb(207, 73, 73);
  margin: 0 5px;
}
@media (max-height: 600px) and (max-width: 1200px) {
  :root {
    --font-zero: 12px;
    --font-zero-one: 12px;
    --font-one: 14px;
    --font-two: 30px;
    --font-three: 18px;
  }
  /*Landing Page*/
  .landing-page .brief-introduction {
    margin-top: 40px;
  }
  .landing-page .brief-introduction .title-name .name {
    margin: 1px 0;
  }
  .landing-page .welcome {
    margin: 2px 0;
  }
  .landing-page .brief-introduction .social {
    margin: 5px;
  }
}
@media (max-width: 720px) {
  /*Landing Page*/
  :root {
    --font-zero: 12px;
    --font-zero-one: 14px;
    --font-one: 16px;
    --font-two: 30px;
    --font-three: 20px;
  }
  .landing-page .brief-introduction {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .landing-page .brief-introduction .title-name .name {
    padding-right: 0;
  }
  .landing-page .brief-introduction .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  .landing-page .brief-introduction .social .social-icon {
    margin: 0 10px;
  }
  .landing-page .welcome {
    margin: 5px 0;
  }

  /*Education*/
  .body-container .education .education-list {
    flex-direction: column;
  }
}

@media (max-width: 1210px) {
  .body-container .projects .project-list {
    flex-direction: column;
  }
}

@media (min-height: 1000px) {
  /*Landing Page*/
  .landing-page .brief-introduction {
    margin-top: 200px;
  }
  .landing-page .welcome {
    margin: 100px 0;
  }
}

@media (max-width: 1000px) {
  /*Skills*/
  .body-container .skills {
    flex-direction: column;
  }
  .body-container .skills .skill-item {
    margin: 20px 0;
    width: 270px;
  }
}
