.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.contact h1 {
  padding-top: 150px;
}
.contact .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.contact .social .social-icon {
  width: 60px;
  height: 60px;
  margin: 10px 10px;
  color: rgba(123, 123, 134, 0.795);
  padding: 5px;
  border-radius: 0.5em;
  box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #ffffff;
}
.contact .xin-chao {
  position: absolute;
  top: 3%;
  font-size: 6rem;
}

@media (max-width: 500px) {
  .contact .social .social-icon {
    margin: 10px 5px;
  }
}
